;; Analyzed by ClojureScript 1.8.34
{:name taoensso.truss, :doc "An opinionated assertions API for Clojure/Script", :excludes #{}, :use-macros {-invariant taoensso.truss.impl}, :require-macros {impl taoensso.truss.impl, taoensso.truss.impl taoensso.truss.impl}, :uses nil, :requires {impl taoensso.truss.impl, taoensso.truss.impl taoensso.truss.impl}, :imports nil, :defs {get-dynamic-assertion-data {:protocol-inline nil, :meta {:file "/Users/timothypratley/git/pirates/resources/public/js/devcards/taoensso/truss.cljs", :line 117, :column 7, :end-line 117, :end-column 33, :arglists (quote ([])), :doc "Returns current value of dynamic assertion data"}, :name taoensso.truss/get-dynamic-assertion-data, :variadic false, :file "resources/public/js/devcards/taoensso/truss.cljs", :end-column 33, :method-params ([]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 117, :end-line 117, :max-fixed-arity 0, :fn-var true, :arglists (quote ([])), :doc "Returns current value of dynamic assertion data"}}}