;; Analyzed by ClojureScript 1.8.34
{:name pirates.client.logging, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {debug {:protocol-inline nil, :meta {:file "/Users/timothypratley/git/pirates/src/pirates/client/logging.cljs", :line 3, :column 7, :end-line 3, :end-column 12, :arglists (quote ([& args])), :top-fn {:variadic true, :max-fixed-arity 0, :method-params [(args)], :arglists ([& args]), :arglists-meta (nil)}}, :name pirates.client.logging/debug, :variadic true, :file "/Users/timothypratley/git/pirates/src/pirates/client/logging.cljs", :end-column 12, :top-fn {:variadic true, :max-fixed-arity 0, :method-params [(args)], :arglists ([& args]), :arglists-meta (nil)}, :method-params [(args)], :protocol-impl nil, :arglists-meta (nil), :column 1, :line 3, :end-line 3, :max-fixed-arity 0, :fn-var true, :arglists ([& args])}}}