;; Analyzed by ClojureScript 1.8.34
{:name pirates.client.text-sprite, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {make {:protocol-inline nil, :meta {:file "/Users/timothypratley/git/pirates/src/pirates/client/text_sprite.cljs", :line 50, :column 7, :end-line 50, :end-column 11, :arglists (quote ([text]))}, :name pirates.client.text-sprite/make, :variadic false, :file "src/pirates/client/text_sprite.cljs", :end-column 11, :method-params ([text]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 50, :end-line 50, :max-fixed-arity 1, :fn-var true, :arglists (quote ([text]))}}}